@model IEnumerable<Forum.Domain.User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="border">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">User list</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_CreateButtonPartial" />
        </div>
    </div>
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Username)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Username)
                        </td>
                        <td>
                            <partial name="_TableButtonPartial" model="item.ID" />
                        </td>
                    </tr>
                }
            </table>

        }
        else
        {
            <p>No users exists...</p>
        }

    </div>
</div>

